$black-derco: #393939;
$gris-derco:#edecec;
$secondary-derco: white;
$rojo-derco: #db192b;

//Font
$hind : 'Hind Siliguri',
sans-serif;

.section2Home {
  background-color: $gris-derco;

  .destacadosHomeContainer {
    background-color: $secondary-derco;
    position: relative;
    z-index: 10;
    margin-top: -40px;
    border-radius: 50px;
    padding: 40px 30px;

    .titleSection {
      margin-bottom: 25px;
      text-align: center;

      h1 {
        color: $black-derco;
        font-family: $hind;
        font-weight: 400;
        font-size: 30px;
        margin: 0;

        span {
          font-family: $hind;
          font-weight: 700;
        }
      }
    }
  }

  @media(max-width:767px) {
    padding: 25px 0px;

    h1 {
      font-size: 24px;
    }
  }
}

.section3Home {
  padding: 60px 15px;
  text-align: center;

  a {
    color: $rojo-derco;
    border: 1px solid $rojo-derco;
    padding: 15px 30px;
    font-family: $hind;
    font-weight: 400;
    border-radius: 25px;
    font-size: 21px;
    display: block;
    max-width: 350px;
    margin: auto;
    text-decoration: none;
    transition: 0.4s all;

    span {
      font-weight: 700;
    }
  }

  a:hover {
    color: white;
    background-color: $black-derco;
    border: 1px solid $black-derco;
  }
}

//Auto Item
.autoItem {
  padding: 25px 10px;
  max-width: 300px;
  max-height: 520px;
  justify-content: flex-start;
  margin: 10px auto;
  border: 2px solid #f1f1f1;
  border-radius: 25px;
  transition: 0.4s all;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: 1250px) {
    max-width: 260px;
  }

  .card-text {
    text-align: center;
  }

  .card-body {
    padding: 0;
  }

  .card-footer {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-bottom: 25px;
  }

  .logoBrand {
    width: auto;
    max-width: 110px;
    height: 22px;
    margin: 0px auto;
    margin-bottom: 15px;
  }

  h2 {
    font-family: $hind;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
  }

  h3 {
    color: $rojo-derco;
    font-family: $hind;
    font-weight: 700;
    font-size: 19px;

    span {
      font-size: 14px;
    }
  }

  h4 {
    font-family: $hind;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
  }

  .imgAuto {
    width: 100%;
    height: 164px;
  }

  .tab-content {
    height: 290px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-item {

      a {
        color: $rojo-derco;
        font-family: $hind;
        font-weight: 700;
        font-size: 18px;
        background-color: transparent;
        border-radius: 25px;
        border: 1px solid $rojo-derco;
        margin-right: 5px;

      }

      .active {
        background-color: $rojo-derco;
        color: white;
      }
    }
  }

  .linkCotizar {
    color: white;
    padding: 10px 0px;
    width: 100%;
    font-family: $hind;
    font-weight: 700;
    font-size: 14px;
    background-color: $rojo-derco;
    text-align: center;
    border-radius: 25px;
    transition: 0.4s all;

  }

  .linkCotizar:hover {
    background-color: $black-derco;
    text-decoration: none;
  }
}

.autoItem:hover {
  border: 2px solid $rojo-derco;
}
//Marcas
.sectionMarcas{
  ul{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
      li{
        list-style: none;
        img{
          width: 100%;
          max-width: 110px;
        }
      }
  }
}
//Layout
footer {
  background-color: $rojo-derco;

  .copyright {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;

    small {
      color: white;
      font-family: $hind;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .logoDerco {
    text-align: right;
    padding: 0;
  }

  @media (max-width:767px) {
    .copyright {
      justify-content: center;
    }

    .logoDerco {
      text-align: center;
    }
  }
}

header {
  background-color: #bd2725;

  img {
    max-width: 80px;
  }
}

//Swiper BannerHome
.slideImage,
.slideDimensions {
  width: 100%;
}

.sliderContainer {
  width: 100%;
}

//Catalogo
.sectionCatalogo {
  background-color: $gris-derco;
  padding: 40px 0px;
}

.buttonActions {
  justify-content: space-between;

  button,
  a {
    color: $rojo-derco;
    padding: 10px 40px;
    border: 1px solid $rojo-derco;
    border-radius: 25px;
    text-align: center;
    font-family: $hind;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition: 0.4s all;

    span {
      font-weight: 700;
    }

    svg {
      margin-right: 10px;
    }
  }

  button:hover,
  a:hover {
    color: white;
    background-color: $black-derco;
    border: 1px solid $black-derco;
    text-decoration: none;

    path {
      color: white;
    }
  }
}

//Paginacion

.paginationStyle {
  margin: auto;
  margin-top: 40px;
  justify-content: center;
  

  .page-item {
    button {
      border-radius: 50px;
      border: 1px solid $rojo-derco;
      margin: 0px 3px;
      color: $rojo-derco;
      outline: none;
      width: 40px;
      height: 40px;
      text-align: center;
    }
  }

  .page-item.active .page-link {
    color: white;
    border: 1px solid $rojo-derco;
    background-color: $rojo-derco;
  }

  .page-item .page-link:focus {
    box-shadow: none;
    outline: none;
  }

  .disabled span {
    border-radius: 50px;
    border: 1px solid $rojo-derco;
    margin: 0px 3px;
    width: 40px;
    height: 40px;
    text-align: center;
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border-radius: 50px;
  }

  @media(max-width:767px){
    .page-item {
      a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .disabled span {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.rowModelos{
  background-color: white;
  border-radius: 40px;
  padding: 40px 15px;
  min-height: 800px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading-gif{
    width: 80px;
  }
}
